#antet{
    background-color: #183BF0;
}

nav {
    background-color: #DDE3FD;
}

#sectiune{
    background-color: #798EF6;
}

#footer2{
    text-align: center;
    background-color: #0A2299;
    color: white;
}